body {
  background-color: lightblue;
}

.hidden {
  display: none;
}

.startBackground {
  /* background-image: ; */
  background-size: cover;
  transition: 1.0s ease;
  background-position: center;
  background-repeat: no-repeat;
}

.secondBackground {
  /* background-image: ; */
  background-size: cover;
  transition: 1.0s ease;
  background-position: center;
  background-repeat: no-repeat;
}

.lastStageBackground {
  /* background-image: ; */
  background-size: cover;
  transition: 1.0s ease;
  background-position: center;
  background-repeat: no-repeat;
}

.gameOverBackground {
  /* background-image: ; */
  background-size: cover;
  transition: 1.0s ease;
  background-position: center;
  background-repeat: no-repeat;
}

.youWonBackground {
  /* background-image: ; */
  background-size: cover;
  transition: 1.0s ease;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(-5px, 0px); }
  50% { transform: translate(5px, 0px); }
  75% { transform: translate(-5px, 0px); }
  100% { transform: translate(0px, 0px); }
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 2; 
}